.container{
    display: flex;
    justify-content: space-between;
}

#page-start main{
    max-width: none !important;
}

.appointments{
    width: 55%;
}

.schedule{
    width: 40%;
}

.input-block:nth-child(2n+1){
    margin-bottom: 1.5rem;
}